.jumbotron {
    margin: 0;
    background-color: rgb(153, 76, 226)
}

#jumbotronTitle {
    color: rgb(241, 235, 235);
};

#jumbotronDirections {
    color: rgb(241, 235, 235);
    font-size: 24px;
}